body, table, input, select, textarea{
	font-family: verdana, arial;
    font-size: 11px;
}
img {
	border:0;
}
.error{
	color: red;
    font-weight: bold;
}

.ok{
    color: green;
    font-weight: bold;
}
.txt_s1b{
	color: #24886b;
    font-weight: bold;
}
.txt_s1{
	color: #24886b;
}
.col1{
	background-color: #f2f8f7;
	font-size: 12px;
}
.col3{
	background-color: #EEEEEE;
}
.col4{
	background-color: #F5F5F5;
}
.col2{
	background-color: #DDEDEA;
    color: #24886B;
}
.col_mtitle{
    background-color: #24886B;
    color: #ffffff;
    font-weight: bold;
	background-image: url("img/des/td_corner_deco.gif");
	background-repeat: no-repeat;
	background-position: right top
}
.col_mcnt{
	background-image: url("img/des/menu_left_deco.gif");
	background-repeat: repeat-y;
	background-position: left top;
    padding-left: 12px;
    cursor: pointer;
}
.col_mcnt_active{
	background-image: url("img/des/menu_left_deco_active.gif");
	background-repeat: repeat-y;
	background-position: left top;
    padding-left: 12px;
    cursor: pointer;
}
a.cms_menu, a.cms_menu:active, a.cms_menu:link, a.cms_menu:visited {
    color: #000000;
    text-decoration: none;
}
a.cms_menu:hover {
    color: #000000;
    text-decoration: none;
}
.core_item_heading{
	color: #CAE2E6;
    font-size: 18px;
    font-weight: bold;
}
a, a:link, a:hover, a:active, a:visited{
    color: #1B6750;
    text-decoration: none;
}
.info_about{
	color: #A2A1A1;
}